<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mirhoseini.marvel">

    // fix Jake Wharton Libraries min sdk issue!
    <uses-sdk tools:overrideLibrary="com.jakewharton.rxbinding" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MarvelApplicationImpl"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splash.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Splash" />

        <!--
             use an alias in case we want to change the launch activity later without breaking
            homescreen shortcuts. Note must be defined after the targetActivity
        -->
        <activity-alias
            android:name=".Launcher"
            android:label="@string/app_name"
            android:targetActivity=".splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".main.MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".character.CharacterActivity"
            android:label="@string/app_name"
            android:parentActivityName=".main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mirhoseini.marvel.main.MainActivity" />
        </activity>
    </application>

</manifest>